<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>BTN</h1>
<h3>Pembukaan Deposito</h3>
<p th:text="${accountOwnerName}"></p>
<p th:text="${accountNumber}"></p>
<p th:text="${currency}"></p>
<p th:text="${interestRate}"></p>
<p th:text="${aroType}"></p>
<p th:text="${timePeriod}"></p>
<p th:text="${createDate}"></p>
<p th:text="${maturityDate}"></p>
<p th:text="${balance}"></p>
<p th:text="${amountWords}"></p>
</body>
</html>